body {
    background-color: rgb(22, 158, 22);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10%; 
}

h1 {
    color: #00aeff; 
    font-size: 3em; 
}

h2 {
    color: #00ff00; 
    font-size: 2em; 
}

img {
    max-width: 100%; 
    height: auto; 
}